<div class="card mt-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{friend.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{friend.email}}</h6>
    <p class="card-text">{{friend.phone}}</p>
    <a href="/" class="card-link">Go back</a>
  </div>
</div>